# Plotting Geo Data

In [74]:
from bokeh.plotting import figure, show, output_file
from bokeh.io import output_notebook
from bokeh.tile_providers import get_provider, Vendors
from bokeh.models import ColumnDataSource, HoverTool, CategoricalColorMapper
from bokeh.palettes import Accent

import math
import json
import pandas as pd
import os
import re
import numpy as np
from ast import literal_eval

# data sources

#### https://data.stadt-zuerich.ch/

* Locations of automatic counting devices for pedestrian and bicycle traffic
    https://data.stadt-zuerich.ch/dataset/verkehrszaehlungen-standorte-velo-fussgaenger
    
* Automatic counting data «Pedestrian traffic» - quarter-hourly values
    https://data.stadt-zuerich.ch/dataset/verkehrszaehlungen-werte-fussgaenger-velo


* Fusswegnetz
    https://data.stadt-zuerich.ch/dataset/fussweg

### Functions

In [2]:
def extract_ints(in_string):
    out_string = re.sub('[^0-9]','', in_string)
    if len(out_string):
        return int(out_string)
    else:
        return np.nan

In [3]:
def merc_proj(coords):
    """
    coords: a tuple containing coordinates ordered as (lat, lon)
    """
    lat, lon = coords    
    r_major = 6378137.000
    x = r_major * math.radians(lon)
    scale = x/lon
    y = 180.0/math.pi * math.log(math.tan(math.pi/4.0 + 
        lat * (math.pi/180.0)/2.0)) * scale
    
    return x, y

In [89]:
def deg2num(lat_deg, lon_deg, zoom):
      lat_rad = math.radians(lat_deg)
      n = 2.0 ** zoom
      xtile = int((lon_deg + 180.0) / 360.0 * n)
      ytile = int((1.0 - math.asinh(math.tan(lat_rad)) / math.pi) / 2.0 * n)
      return (xtile, ytile)

## Load Data

In [4]:
folder = 'data'

### Zurich Kreis Buro

In [5]:
zur_long= 8.5417
zur_lat = 47.3769
coord = (zur_lat, zur_long)
zur_x, zur_y = merc_proj(coord)

print(zur_x,', ', zur_y)

950857.6945089049 ,  6003812.204877849

In [6]:
fname = 'stadtkreis.json'
fpath = os.path.join(folder,fname )

with open(fpath, 'r') as f:
    kreis_json = json.load(f)

In [7]:
kreis_json.keys()

dict_keys(['name', 'type', 'features'])

In [8]:
kreis_json['features'][0]['properties']['Bezeichnnung']

'Kreis 9'

In [9]:
# check that all coordinates are polygons
for f in kreis_json['features']:
    print(f['geometry']['type'])

Polygon
Polygon
Polygon
Polygon
Polygon
Polygon
Polygon
Polygon
Polygon
Polygon
Polygon
Polygon

In [10]:
df_kreis_coord = pd.DataFrame()

for feature in kreis_json['features']:
    kreis_dict = {}
    kreis_dict['kreis'] = int(re.sub('[^0-9]','', feature['properties']['Bezeichnnung']))
    kreis_dict['coords'] = feature['geometry']['coordinates'][0]
    kreis_dict['coords'] = [(el[1], el[0]) for el in  kreis_dict['coords']]
    df_kreis_coord = df_kreis_coord.append(kreis_dict, ignore_index=True)
    
df_kreis_coord['kreis'] = df_kreis_coord['kreis'].astype(int)    
df_kreis_coord = df_kreis_coord.sort_values('kreis').set_index('kreis')
df_kreis_coord

                                                  coords
kreis
1      [(47.3768651828916, 8.54875812345879), (47.376...
2      [(47.3354317915205, 8.54297384152714), (47.335...
3      [(47.3684680042063, 8.52761485172454), (47.368...
4      [(47.3909036731392, 8.50236067762573), (47.390...
5      [(47.3949271514424, 8.50561161160157), (47.394...
6      [(47.4012469984016, 8.55559467141438), (47.401...
7      [(47.3883107010459, 8.58346243290615), (47.388...
8      [(47.3527885795743, 8.58624294108071), (47.352...
9      [(47.3809529399054, 8.50312802076276), (47.380...
10     [(47.4042325281943, 8.47819887163832), (47.404...
11     [(47.4221066631867, 8.48799434845604), (47.422...
12     [(47.4156460170665, 8.56324622139862), (47.415...

In [11]:
merc_proj(df_kreis_coord.loc[1]['coords'][0])

(951643.4012182932, 6003806.481342967)

In [12]:
df_kreis_coord['x_ys'] = df_kreis_coord['coords'].apply(lambda x: [merc_proj(el) for el in x])
df_kreis_coord['xs'] = df_kreis_coord['x_ys'].apply(lambda lst: [x for x,y in lst])
df_kreis_coord['ys'] = df_kreis_coord['x_ys'].apply(lambda lst: [y for x,y in lst])
df_kreis_coord

,coords,x_ys,xs,ys
kreis,,,,
1,"[(47.3768651828916, 8.54875812345879), (47.376...","[(951643.4012182932, 6003806.481342967), (9516...","[951643.4012182932, 951643.0115419946, 951642....","[6003806.481342967, 6003804.9435209455, 600380..."
2,"[(47.3354317915205, 8.54297384152714), (47.335...","[(950999.4978990573, 5996997.98142676), (95098...","[950999.4978990573, 950986.0201940133, 950976....","[5996997.98142676, 5996988.238234238, 5996981...."
3,"[(47.3684680042063, 8.52761485172454), (47.368...","[(949289.7429751329, 6002426.191448782), (9492...","[949289.7429751329, 949225.292438578, 949160.8...","[6002426.191448782, 6002363.777099468, 6002301..."
4,"[(47.3909036731392, 8.50236067762573), (47.390...","[(946478.4611740486, 6006114.555292751), (9465...","[946478.4611740486, 946535.3303605559, 946560....","[6006114.555292751, 6006090.378270911, 6006077..."
5,"[(47.3949271514424, 8.50561161160157), (47.394...","[(946840.3534888417, 6006776.170360912), (9468...","[946840.3534888417, 946863.4846444319, 946886....","[6006776.170360912, 6006772.468790983, 6006769..."
6,"[(47.4012469984016, 8.55559467141438), (47.401...","[(952404.4422554935, 6007815.499035581), (9523...","[952404.4422554935, 952398.0854357466, 952395....","[6007815.499035581, 6007798.858081422, 6007790..."
7,"[(47.3883107010459, 8.58346243290615), (47.388...","[(955506.6672743057, 6005688.197402064), (9555...","[955506.6672743057, 955587.0637776112, 955591....","[6005688.197402064, 6005691.193410223, 6005691..."
8,"[(47.3527885795743, 8.58624294108071), (47.352...","[(955816.1920284444, 5999849.467331672), (9558...","[955816.1920284444, 955801.2283115905, 955795....","[5999849.467331672, 5999818.324287471, 5999797..."
9,"[(47.3809529399054, 8.50312802076276), (47.380...","[(946563.8814213267, 6004478.487726108), (9465...","[946563.8814213267, 946556.3862116747, 946542....","[6004478.487726108, 6004470.849732304, 6004455..."
10,"[(47.4042325281943, 8.47819887163832), (47.404...","[(943788.7812348843, 6008306.526868095), (9437...","[943788.7812348843, 943787.6611020037, 943787....","[6008306.526868095, 6008306.586163752, 6008310..."
11,"[(47.4221066631867, 8.48799434845604), (47.422...","[(944879.2087263103, 6011246.854580052), (9448...","[944879.2087263103, 944881.4479297944, 944892....","[6011246.854580052, 6011251.027597851, 6011272..."
12,"[(47.4156460170665, 8.56324622139862), (47.415...","[(953256.2089035183, 6010183.951369027), (9533...","[953256.2089035183, 953343.3812519693, 953377....","[6010183.951369027, 6010213.221760895, 6010224..."

In [13]:
df_kreis_coord = df_kreis_coord.drop(columns='x_ys')

In [14]:
df_kreis_coord.to_csv('kreis_coordinates.csv')

### load Population data

In [15]:
fname = 'BEV340T3401_Zukuenftige_Bevoelkerungsentwicklung-Veraenderung_nach-Stadtkreis-Stadtquartier.xlsx'
fpath = os.path.join(folder,fname)

df_pop = pd.read_excel(fpath, sheet_name='2018, 2035', header=8)
df_pop = df_pop.rename(columns={'Unnamed: 0': 'area', 'Veränderung\n(%)':'percentage_change'})

df_pop['kreis'] = df_pop.area.apply(lambda x: extract_ints(x))
df_pop['kreis'] = df_pop['kreis'].ffill()
df_pop['pop_diff'] = df_pop[2035] - df_pop[2018]

In [16]:
df_pop = df_pop[['kreis', 'area', 2018, 2035, 'percentage_change', 'pop_diff']]

In [17]:
df_pop.sort_values(by=['pop_diff','percentage_change'], ascending=False).head()

    kreis         area    2018    2035  percentage_change  pop_diff
0     NaN  Ganze Stadt  428737  504700               17.7     75963
35   11.0     Kreis 11   75344   93800               24.6     18456
39   12.0     Kreis 12   32483   43600               34.2     11117
29    9.0      Kreis 9   55765   65800               18.0     10035
38   11.0      Seebach   25568   34900               36.5      9332

## store locations

In [18]:
fname = 'supermarket_coordinates.csv'
fpath = os.path.join(folder, fname)
df_stores = pd.read_csv(fpath)
df_stores.head()

,name,lon,lat,city,postcode,street,coordinates
0,SPAR,9.037929,47.155714,,,,"(9.0379294 , 47.1557144)"
1,ALDI SÜD,8.965272,47.228772,Uznach,8730,Wiesentalstrasse,"(8.965272 , 47.2287724)"
2,Migros,8.980329,47.226191,,,,"(8.9803292 , 47.2261912)"
3,Linth Park,8.970016,47.225126,,,,"(8.9700163 , 47.2251262)"
4,Coop Bahnhofbrücke,8.542161,47.376732,Zürich,8001,Bahnhofbrücke,"(8.5421608 , 47.3767316)"

In [19]:
 df_stores['coordinates'] =  df_stores['coordinates'].apply(literal_eval)

In [94]:
df_stores['x_ys'] = df_stores['coordinates'].apply(merc_proj)
df_stores['y'] = df_stores['x_ys'].apply(lambda x: x[0])  # + 725000
df_stores['x'] = df_stores['x_ys'].apply(lambda x: x[1])

df_stores.head()

,name,lon,lat,city,postcode,street,coordinates,x_ys,y,x,label
0,SPAR,9.037929,47.155714,,,,"(9.0379294, 47.1557144)","(5249350.115001038, 1010296.199958076)",5.249350e+06,1.010296e+06,competitor
1,ALDI SÜD,8.965272,47.228772,Uznach,8730,Wiesentalstrasse,"(8.965272, 47.2287724)","(5257482.894359413, 1002107.1581323321)",5.257483e+06,1.002107e+06,competitor
2,Migros,8.980329,47.226191,,,,"(8.9803292, 47.2261912)","(5257195.556489778, 1003804.0841199819)",5.257196e+06,1.003804e+06,migros
3,Linth Park,8.970016,47.225126,,,,"(8.9700163, 47.2251262)","(5257077.001232082, 1002641.8267009896)",5.257077e+06,1.002642e+06,competitor
4,Coop Bahnhofbrücke,8.542161,47.376732,Zürich,8001,Bahnhofbrücke,"(8.5421608, 47.3767316)","(5273953.637161593, 954451.4114619531)",5.273954e+06,9.544514e+05,competitor

In [95]:
df_stores_plot = df_stores[['name','x','y']]

# Plot

In [96]:
ef_zh_coords = [(47.388259, 8.468802),
        (47.418613, 8.480302),
        (47.425864, 8.502571),
        (47.438234, 8.575379),
        (47.350885, 8.568362),
        (47.337249, 8.522954)]

ef_zh_coords_xys = [merc_proj(coord) for coord in ef_zh_coords]
ef_zh_coords_xys

[(942742.7262690568, 6005679.696502305),
 (944022.9004131794, 6010672.06215552),
 (946501.8741536548, 6011865.07029146),
 (954606.8236393315, 6013900.687657055),
 (953825.6947724351, 5999536.689132897),
 (948770.8993344943, 5997296.480306304)]

In [97]:
xs = [el[0] for el in ef_zh_coords_xys]
ys = [el[1] for el in ef_zh_coords_xys]
ys

[6005679.696502305,
 6010672.06215552,
 6011865.07029146,
 6013900.687657055,
 5999536.689132897,
 5997296.480306304]

In [98]:
wint = (47.4988, 8.7237)
wint_x, wint_y = merc_proj(wint)

brem = (47.3492, 8.3398)
brem_x, brem_y = merc_proj(brem)

In [99]:
df_stores['label'] = df_stores['name'].str.lower().str.contains('migros')
df_stores['label'] = df_stores['label'].replace({True:'migros', False:'competitor' })
list(df_stores['label'].unique())

['competitor', 'migros']

In [100]:

output_file("tile.html")

tile_provider = get_provider(Vendors.CARTODBPOSITRON)

x_size = 1000000
y_size = 1000000

# range bounds supplied in web mercator coordinates
p = figure( x_axis_type="mercator", y_axis_type="mercator")
p.add_tile(tile_provider)



p.circle(x = zur_x, y = zur_y, color='red', size=5, alpha=0.6)
#p.circle(x = wint_x, y = wint_y, size=10, alpha=0)
#p.circle(x = brem_x, y = brem_y, size=10, alpha=0)

#add patch glyphs for kreis'
for index, row in df_kreis_coord.iterrows():
    p.patch(  row['xs'], row['ys'], alpha=0.5, line_width=2, )

    

#add glyphs for points of interest

source = ColumnDataSource(df_stores)

categories = list(df_stores['label'].unique())
color_mapper = CategoricalColorMapper(factors=categories, palette=Accent[len(categories)])

p.circle(x= 'x', y='y', source=source, alpha=0.3, color = dict(field='label', transform=color_mapper) )

    
    
    
#hovertool to display additional cargo info
p_hover = HoverTool(
        tooltips = [ ("feature","@name"), ], 
        #formatters = {"planned_arrival" : "datetime", "planned_departure": "datetime" },
        mode = 'mouse'
    )
p.add_tools(p_hover)

output_notebook()
show(p)

KeyError: 2